<p id="notice"><%= notice %></p>

<h1>Listing Auction Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auction_posts.each do |auction_post| %>
      <tr>
        <td><%= auction_post.title %></td>
        <td><%= auction_post.content %></td>
        <td><%= auction_post.username %></td>
        <td><%= link_to 'Show', auction_post %></td>
        <td><%= link_to 'Edit', edit_auction_post_path(auction_post) %></td>
        <td><%= link_to 'Destroy', auction_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction post', new_auction_post_path %>
