<p id="notice"><%= notice %></p>

<h1>Listing Auction Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Img</th>
      <th>Category</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @rent_posts.each do |rent_post| %>
    <tr>
      <td><%= rent_post.title %></td>
      <td><%= rent_post.content %></td>
      <td><%= rent_post.img %></td>
      <td><%= rent_post.category %></td>
      <td><%= link_to 'Show', rent_post %></td>
      <td><%= link_to 'Edit', edit_rent_post_path(rent_post) %></td>
      <td><%= link_to 'Destroy', rent_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent post', new_rent_post_path %>
