<div class="d-flex justify-content-center mt-3">

  <figure class="figure mt-5">
    <img src="<%=@post.postimage%>"
    <h2><figcaption class="figure-caption text-center">
      <%= @post.title %><br /></h2>
      <p><%= @post.content%></p>
    </figcaption>
  </figure>
  <p><%= @post.user_id%></p>
</div>

<hr />

<!-- like버튼 추가 -->

<!-- <button type="button" class="btn <%= @like.count > 0 ? 'btn-danger' : 'btn-info' %>" id="like">
  <i class="fas fa-thumbs-up fa-lg"></i> 좋아요(<span id="like-count"><%= @post.likes.count %></span>)
</button> -->

<% if @like.count > 0%>
<button type="button" class="btn btn-danger" id="like"><i style="font-size:1em;" class="fas fa-moon"></i> (<span id="like-count"><%= @post.likes.count%></span>)</button>

<% else %>
<button type="button" class="btn btn-light" id="like"><i style="font-size:1em;" class="fas fa-moon" data-remote="true"></i> (<span id="like-count"><%= @post.likes.count%></span>)</button>
<%= link_to "좋아요", "/posts/#{@post.id}/like", data: {remote: true, method: "POST"}, class: "" %>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th></th>
      <th width="80%"> 덧 글 </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="comment-list">
    <% @post.comments.each do |comment| %>
    <tr id="comment-<%= comment.id %>">
      <td><%=comment.user.email%></td>
      <td><%= comment.content %></td>
      <!-- <td><button type="button" class="btn btn-warning edit-comment" data-id="<%= comment.id %>"><i class="fas fa-cog"></i> 수정</button></td> -->
      <td><button type="button" class="btn btn-danger destroy-comment" data-id="<%= comment.id %>"><i class="fas fa-trash-alt"></i> 삭제</button></td>
    </tr>
    <% end %>
  </tbody>
</table>

<form method="post" action="/posts/<%= @post.id %>/create_comment" class="form-inline mt-3 mb-3" id="comment-form" data-remote="true">
  <div class="form-group col-10">
    <input type="text" class="form-control" id="comment"  style="width: 100% !important;">
  </div>
  <div class="form-group col-2">
    <button type="submit" class="btn btn-primary create-comment"><i class="fas fa-comments"></i> 덧글 달기</button>
  </div>
</form>


<!-- <hr />

  <p class = "text-right"><a href="/posts/<%=@post.id%>/edit">수정</a></p>

  <p class = "text-right"><a href="/posts/<%=@post.id%>" data-method="delete" data-confirm="삭제할래?">삭제</a></p>

<hr /> -->

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<script>
</script>
