<div class="d-flex justify-content-center mt-3">

  <figure class="figure">
    <img src="<%=@post.postimage%>" class="figure-img img-fluid rounded" >
    <figcaption class="figure-caption text-center">제목: <%= @post.title %><br />
      <p>내용 : <%= @post.content%></p>
    </figcaption>
  </figure>
</div>

<p>
  <h5>댓글창</h5>
</p>
<%@post.comments.each do |comment|%>
  <p><%=comment.content%></p>
  <p><%=comment.created_at%></p>
  <p><%=comment.user.email%></p>
  <p class = "text-right"><a href="/posts/<%=@post.id%>/destroy_comment/<%=comment.id%>" data-method="delete" data-confirm="덧글 삭제할래?">X</a></p>
  <hr />
<%end%>
<br />


<%= form_tag("/posts/#{@post.id}/add_comment", method: "post", multipart: true) do %>
  <%= text_area_tag("content") %> <br />
  <%= hidden_field_tag("post_id", value= "#{@post.id}" )%>
  <%= button_tag("뿅" , class: "btn btn-primary ")  %>
<% end %>


<hr />
<!--
  <p class = "text-right"><a href="/posts/<%=@post.id%>/edit">수정</a></p>
  <p class = "text-right"><a href="/posts/<%=@post.id%>" data-method="delete" data-confirm="삭제할래?">삭제</a></p>

<hr /> -->

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
